body{background-color: aquamarine;
}
h1 {color:rgb(148, 17, 32);
}

.p3 {text-align: center;
     font-size: 150%;
     color: blue;
    }
.p1 {border-width: 5px;
     border-color: brown;
     border-style: groove;
     margin-left: 20%;
     margin-right: 20%;
     padding-left: 30%;
     padding-top: 10%;
    }   

    .p1 {background-color: chocolate;
    }